@import "@vidnova/ui/styles";
@import "tailwindcss";
@import "tw-animate-css";

@config "../../tailwind.config.ts";

@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'geist', sans-serif;
    color: var(--foreground);
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#191919 1px, #0f0f0f 1px);
    background-size: 16px 16px;
}

.gradient-logo {
    background: linear-gradient(45deg, #4ade80, #22d3ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
